/* Forecast */
.forecast-card {
  /* border: 1px solid yellow; */
  overflow: hidden;
  border-radius: 30px;
  background-color: rgb(25, 33, 64,.5);
  width: 80px;
  height: 80px;
  margin: .5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecast-card > *{
  margin: 2px;
  height: 50%;
  /* border: 1px solid white; */
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
}