/* Search Bar */
.search-bar{
    /* border: 1px solid white; */
    height: 5vh;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }

  input{
    width: 100%;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    border-bottom: 5px solid #666B97;
  }

  ::placeholder{
    color: rgb(165, 165, 165);
  }

  button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-bottom: 1rem;
  }

  input:focus{
    outline: none;
  }

