/* Main Content */
.main-content{
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #97A8BB;
    height: 80vh;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
  
  }
  
  .main-content > *{
    /* border: 1px solid white; */
    text-align: center;
    width: 100%;
  }
  
  
  
  /* Description */
  .description{
    /* border: 1px solid black; */
    display: flex;
    width: 80%;
  }
  
  .description > *{
    /* border: 1px solid white; */
    padding: .5rem 0;
    width: 25%;
    margin-bottom: 1px;
  }
  
  .description :nth-child(2){
    border-right: 1px dotted rgb(102, 107, 151,.5);
  }
  
  /* Divider */
  .divider{
    border:1px solid #666B97;
    width: 80%;
    margin: 1rem;
  }
  
  .forecast-title{
    padding: 1rem;
  }