@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');
/* Global style */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

/* Headers */
h1{
  font-size: 3em;
}

h2{
  font-size: 1em;
}

/* App */
.App{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #403152;
  height: 100vh;
}

.App > * {
  
  width: 50vw;
}

/* Media Query for phone */
@media only screen and (max-width: 767px) {
  .description{
    font-size: .6rem;
  }

  .App > *{
    width: 90vw;
  }
}